/* BODY */

body {
	background-color: rgb(50, 56, 168);
	background-size: cover;
	color: white;
	font-family: monospace;
}

/* TEXT STYLE */

#err-text {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 120px;
}

#index-redirect {
	font-size: 28px;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);
}

/* LINKS STYLE */

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:active {
	color: white;
}
