/* IMPORT FONT */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=JetBrains+Mono:ital,wght@1,100&family=Playfair+Display:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap");

/* CONSTANTS */

:root {
	--font-main: "Source Code Pro", monospace;
}

/* BODY */

body {
	background-color: rgb(30, 30, 30);
	background-size: cover;
	color: white;
	font-family: var(--font-main);
}

/* STYLE OF TEXTS */

#readme-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3em;
}

.return-to-index {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 2%;
	left: 50%;
}

.site-name {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 2%;
	left: 3%;
}

/* THEME CHANGE ICON */

.changetheme {
	float: right;
}

/* LINKS */

a:link {
	color: #ff688c;
	font-weight: bold;
}

a:visited {
	color: #ff688c;
}

a:hover {
	color: #ff688c;
	font-weight: bold;
}

a:active {
	color: #ff688c;
}

/* LIGHT MODE  */

body.light {
	background-color: white;
	color: black;
}

body.light a:link {
	color: #ff688c;
}
body.light a:visited {
	color: #ff688c;
}
body.light a:hover {
	color: #ff688c;
	font-weight: bold;
}
body.light a:active {
	color: #ff688c;
}
