@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=JetBrains+Mono:ital,wght@1,100&family=Playfair+Display:ital@1&display=swap");

:root{
    --font-main: "JetBrains Mono", monospace;
}

body
{
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

#GitHub {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 10%;
    text-align: center;
}

#Twitter {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 20%;
    text-align: center;
}

#Twitch {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 30%;
    text-align: center;
}

#Spotify {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 40%;
    text-align: center;
}

#YouTube {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 50%;
    text-align: center;
}

#Instagram {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 60%;
    text-align: center;
}

#Steam {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 70%;
    text-align: center;
}

#Telegram {
    margin: 0;
    font-size: 2rem;
    font-family: var(--font-main);
    top: 80%;
    text-align: center;
}

#return {
    color: var(--light-green);
    font-family: var(--font-main);
    font-size: 1rem;
    right: 50%;
    top: 100%;
    text-align: center;
}


/* Links style */
a:visited {
    color: white;
}

a:link {
    color: white;
}