/* IMPORTING FONT */

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=JetBrains+Mono:ital,wght@1,100&family=Playfair+Display:ital@1&display=swap");

/* CONSTANTS */

:root {
	--font-main: "JetBrains Mono", monospace;
}

/* BODY STYLE */

body {
	background-color: rgb(30, 30, 30);
	background-size: cover;
	color: white;
	font-family: var(--font-main);
}

/* just text */

.social-link {
	margin: 0;
	font-size: 2rem;
	font-family: var(--font-main);
	text-align: center;
}

#return {
	text-align: center;
	font-size: 1rem;
	margin-top: 250px;
}

/* THEME CHANGE ICON */

.fas fa-adjust {
	text-align: center;
}

/* LINKS */

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
}

a:active {
	color: white;
}

/* LIGHT MODE */

body.light {
	background-color: white;
	color: black;
}

body.light a:link {
	color: black;
}
body.light a:visited {
	color: black;
}
body.light a:hover {
	color: black;
}
body.light a:active {
	color: black;
}
