/* constants */

:root
{
  --font-main: "JetBrains Mono", monospace;
  --light-green: #00e6b8;
}
/* importing font*/

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=JetBrains+Mono:ital,wght@1,100&family=Playfair+Display:ital@1&display=swap");

/* background settings*/

body {
  background-color: #000000;
  background-size: cover;
  font-family: "Fairplay Display", monospace;
}

/* discord style settings*/

.discord {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* animated discord typewriter style*/

.typing {
  overflow: hidden;
  color: white;
  white-space: nowrap;
  animation: typing 3s steps(25) forwards;
  font-size: 4rem;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* animated redirect to socials style*/

.socials-href {
  display: inline-block;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.typing-animation {
  overflow: hidden;
  color: white;
  white-space: nowrap;
  animation: typing 4s steps(28) forwards;
  font-size: 1.3rem;
  width: 0;
  font-family: var(--font-main);
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


/* Coursored link */
a:hover {
  color: #DD0101;
}

/* Visited link */
a:visited {
  color: white;
}

/* Nonvisited link */
a:link {
  color: white;
}
